

@{
    ViewBag.Title = "Смена пароля";
}
@model Tuple<bool, bool>
<h2>Смена пароля</h2>
@if (Model.Item1)
{
    <div class="alert alert-success">
        <strong>Провал успешен!</strong> Вы все-таки успешно накосячили
    </div>
}

@if (Model.Item2)
{
    <div class="alert alert-danger">
        <strong>Успех не провален!</strong> Вы нигде не накосячили и сменили пароль
    </div>
}

<form action="/Home/TryChangePassword">
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="password" style="max-width:200px" class="form-control" name="old_password" placeholder="Старый пароль">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="password" style="max-width:200px" class="form-control" name="new_password" placeholder="Новый пароль">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="password" style="max-width:200px" class="form-control" name="new_password_1" placeholder="Еще разочек">
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Сменить пароль</button>
        </div>
    </div>
</form>