@{
    ViewBag.Title = "Глагная";
}

<div class="jumbotron">
    <h1>Ничего особенного</h1>
    <p class="lead">Просто Фэт решил повыебываться своими МЭДСКИЛЗ перед чуваками из таганрога и захерачить agile-board</p>
    <a href="/Home/Board">Перейти к доске</a>
</div>
