
@{
    ViewBag.Title = "Пользователи";
}
@model List<BastardFat.AgileBoard.Site.Database.Tables.User>
<h2>Пользователи</h2>
<div class="my_modal"><div class="loader"></div></div>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Name != "Admin")
                {
                    <button class="btn btn-danger" onclick="removeUser(@item.Id)">
                        <span class="glyphicon glyphicon-trash">
                        </span>
                    </button>
                }
            </td>
            <td>@item.Name</td>
        </tr>
    }

</table>

<script>

    function removeUser(id) {
        $("body").addClass("loading");
        sendRequest("/api/MainApi/RemoveUser?id=" + id, "Ошибка. Не удалось удалить пользователя", function () {
            $("body").removeClass("loading");
            location.reload(true);
        });
    }

    function sendRequest(request, errorMessage, callback) {
        $.ajax({
            url: request,
            type: "GET"
        }).done(function (Result) {
            if (!Result)
            {
                alert(errorMessage);
                $("body").removeClass("loading");
            }
            else {
                callback();
            }
        });
    }

</script>
